In [91]:
!pip install pandas numpy matplotlib openpyxl

Requirement already satisfied: pandas in d:\ancacoda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in d:\ancacoda3\lib\site-packages (1.26.4)
Requirement already satisfied: matplotlib in d:\ancacoda3\lib\site-packages (3.9.2)
Requirement already satisfied: openpyxl in d:\ancacoda3\lib\site-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\ancacoda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\ancacoda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\ancacoda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in d:\ancacoda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in d:\ancacoda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in d:\ancacoda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\ancacoda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in d:\ancacoda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in d:\ancacoda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\ancacoda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: et-xmlfile in d:\ancacoda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in d:\ancacoda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [93]:
# Đọc các file Excel vào các DataFrame
sinhvien_df = pd.read_excel('Dataset_UIT_Education/Education_dataset_V2/01.sinhvien.xlsx')
thisinh_df = pd.read_excel('Dataset_UIT_Education/Education_dataset_V2/05.Thisinh.xlsx')
XLHV_df = pd.read_excel('Dataset_UIT_Education/Education_dataset_V2/08.XLHV.xlsx')
totnghiep_df = pd.read_excel('Dataset_UIT_Education/Education_dataset_V2/14.totnghiep.xlsx')
diemrl_df = pd.read_excel('Dataset_UIT_Education/Education_dataset_V2/diemrl.xlsx')
dtb_toankhoa_df = pd.read_excel('Dataset_UIT_Education/Education_dataset_V2/sinhvien_dtb_toankhoa.xlsx')
dtb_hocky_df = pd.read_excel('Dataset_UIT_Education/Education_dataset_V2/sinhvien_dtb_hocky.xlsx')

In [94]:
# Kiểm tra cấu trúc và đầu ra của từng DataFrame
sinhvien_df.head(), thisinh_df.head(), XLHV_df.head(), 
totnghiep_df.head(), diemrl_df.head(), dtb_toankhoa_df.head(), dtb_hocky_df.head()

(        id                                      mssv  xeploai     soquyetdinh  \
 0  76328.0  E95E7C6DXPvAibaEXe+1j/AqdkpM22DHf6P99fDJ      Khá   178/QĐ_ĐHCNTT
 1  76663.0  D0FE4969XPvAibaEXe/yXiKgsgy0slCmJ5EKt6Ki     Giỏi   713/QĐ_ĐHCNTT
 2  76664.0  40F7E8D0XPvAibaEXe+nZBq3b0XEhfcwXLmoc4Pj     Giỏi   713/QĐ_ĐHCNTT
 3  76665.0  0A049F45XPvAibaEXe9CtFSNMbfIz9qE7i0Fu4My      Khá   713/QĐ_ĐHCNTT
 4  76666.0  7A7166DAXPvAibaEXe83V/kFvw2bBZ0o/KVHZc30      Khá   713/QĐ_ĐHCNTT

      ngaycapvb
 0   14/04/2017
 1   06/10/2017
 2   06/10/2017
 3   06/10/2017
 4   06/10/2017  ,
    id                                      mssv     lopsh  hocky  namhoc  drl  \
 0   1  2A10C466XPvAibaEXe8vcQUX+A6FeNIl5Loug1zV  ANTN2012      2    2013   81
 1   2  903ADF1AXPvAibaEXe9p5G9u2qRxxZEjiJjD4Ztl  ANTN2012      2    2013   88
 2   3  F06EDFFEXPvAibaEXe8KSegZW1rFPMNPBQ+c9rst  ANTN2012      2    2013   94
 3   4  AA868AD5XPvAibaEXe+1Gm1QkI5oNyTYwjwmgxhx  ANTN2012      2    2013   86
 4   5  E7105148XPvAibaEXe+E7LJdSZ9AW2sUcg4OSCnU  ANTN2012      2    2013   88

   ghichu
 0    NaN
 1    NaN
 2    NaN
 3    NaN
 4    NaN  ,
                                        mssv  dtb_toankhoa  dtb_tichluy  \
 0  C410FEC4XPvAibaEXe/odi52as1TQ/z6UAtEIyTx          7.00         7.00
 1  4555C74CXPvAibaEXe8UBGVVSBKSkjQKdKZAX7FE          6.34         6.34
 2  6FB8C971XPvAibaEXe8zjuWfAVBr9Syz83phZPbU          2.31         0.00
 3  7D7299A4XPvAibaEXe9hYalhCsDQbVspsqAf44vo          8.21         8.21
 4  590263C4XPvAibaEXe9mDsFtgVHJ/lr5wIkYTfyo          8.32         8.32

    sotc_tichluy
 0         144.0
 1         153.0
 2           0.0
 3         148.0
 4         148.0  ,
                                        mssv  hocky  namhoc  dtbhk  sotchk
 0  48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO      1    2016   6.45      13
 1  48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO      2    2016   5.86      17
 2  48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO      1    2017   6.54      16
 3  48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO      2    2017   5.67      23
 4  48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO      1    2018   2.27      21)

In [95]:
# Kiểm tra thông tin kiểu dữ liệu (dtypes) và thông tin tổng quan của từng DataFrame
print("\nThông tin kiểu dữ liệu của sinhvien_df:")
print(sinhvien_df.info())
print("-" * 50)

Thông tin kiểu dữ liệu của sinhvien_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8316 entries, 0 to 8315
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              8295 non-null   float64
 1   mssv            8295 non-null   object
 2    namsinh        8294 non-null   float64
 3    gioitinh       8295 non-null   float64
 4    noisinh        8295 non-null   object
 5    lopsh          8295 non-null   object
 6    khoa           8295 non-null   object
 7    hedt           8295 non-null   object
 8    khoahoc        8295 non-null   float64
 9    chuyennganh2   8295 non-null   object
 10   tinhtrang      8295 non-null   float64
 11   diachi_tinhtp  8295 non-null   object
 12  Column1         1549 non-null   object
 13  _1              1040 non-null   object
 14  _2              669 non-null    object
 15  _3              406 non-null    object
 16  _4              233 non-null    object
 17  _5              138 non-null    object
 18  _6              81 non-null     object
 19  _7              48 non-null     object
 20  _8              33 non-null     object
 21  _9              18 non-null     object
 22  _10             11 non-null     object
 23  _11             10 non-null     object
 24  _12             7 non-null      object
 25  _13             3 non-null      object
 26  _14             3 non-null      object
 27  _15             3 non-null      object
 28  _16             2 non-null      object
 29  _17             2 non-null      object
 30  _18             2 non-null      object
 31  _19             2 non-null      object
 32  _20             1 non-null      object
 33  _21             1 non-null      object
 34  _22             1 non-null      object
 35  _23             1 non-null      object
 36  _24             1 non-null      object
 37  _25             1 non-null      object
 38  _26             1 non-null      object
 39  _27             1 non-null      object
 40  _28             1 non-null      object
 41  _29             1 non-null      object
 42  _30             1 non-null      object
 43  _31             1 non-null      object
 44  _32             1 non-null      object
 45  _33             1 non-null      object
 46  _34             1 non-null      object
 47  _35             1 non-null      object
 48  _36             1 non-null      object
 49  _37             1 non-null      object
 50  _38             1 non-null      object
 51  _39             1 non-null      object
 52  _40             1 non-null      object
 53  _41             1 non-null      object
 54  _42             1 non-null      object
 55  _43             1 non-null      object
 56  _44             1 non-null      object
 57  _45             1 non-null      object
 58  _46             1 non-null      object
 59  _47             1 non-null      object
 60  _48             1 non-null      object
 61  _49             1 non-null      object
 62  _50             1 non-null      object
 63  _51             1 non-null      object
 64  _52             1 non-null      object
 65  _53             1 non-null      object
 66  _54             1 non-null      object
 67  _55             1 non-null      object
 68  _56             1 non-null      object
dtypes: float64(5), object(64)
memory usage: 4.4+ MB
None
--------------------------------------------------

In [96]:
print("\nThông tin kiểu dữ liệu của thisinh_df:")
print(thisinh_df.info())
print("-" * 50)

Thông tin kiểu dữ liệu của thisinh_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8234 entries, 0 to 8233
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mssv            8234 non-null   object
 1   dien_tt         8234 non-null   object
 2   diem_tt         8104 non-null   float64
 3   lop12_matinh    6060 non-null   float64
 4   lop12_matruong  6061 non-null   float64
 5   TEN_TRUONG      6060 non-null   object
dtypes: float64(3), object(3)
memory usage: 386.1+ KB
None
--------------------------------------------------

In [97]:
print("\nThông tin kiểu dữ liệu của XLHV_df:")
print(XLHV_df.info())
print("-" * 50)

Thông tin kiểu dữ liệu của XLHV_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3452 entries, 0 to 3451
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3445 non-null   float64
 1   mssv        3445 non-null   object
 2    tinhtrang  3445 non-null   float64
 3    lydo       3445 non-null   object
 4    hocky      2626 non-null   float64
 5    namhoc     3445 non-null   float64
 6    soqd       3445 non-null   object
 7    ngayqd     1680 non-null   datetime64[ns]
 8   Column1     819 non-null    object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 242.8+ KB
None
--------------------------------------------------

In [98]:
print("\nThông tin kiểu dữ liệu của totnghiep_df:")
print(totnghiep_df.info())
print("-" * 50)

Thông tin kiểu dữ liệu của totnghiep_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1847 entries, 0 to 1846
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1845 non-null   float64
 1   mssv          1845 non-null   object
 2    xeploai      1845 non-null   object
 3    soquyetdinh  1845 non-null   object
 4    ngaycapvb    1845 non-null   object
dtypes: float64(1), object(4)
memory usage: 72.3+ KB
None
--------------------------------------------------

In [99]:
print("\nThông tin kiểu dữ liệu của diemrl_df:")
print(diemrl_df.info())
print("-" * 50)

Thông tin kiểu dữ liệu của diemrl_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111978 entries, 0 to 111977
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      111978 non-null  int64
 1   mssv    111978 non-null  object
 2   lopsh   101450 non-null  object
 3   hocky   111978 non-null  int64
 4   namhoc  111978 non-null  int64
 5   drl     111978 non-null  int64
 6   ghichu  14768 non-null   object
dtypes: int64(4), object(3)
memory usage: 6.0+ MB
None
--------------------------------------------------

In [100]:
print("\nThông tin kiểu dữ liệu của dtb_toankhoa_df:")
print(dtb_toankhoa_df.info())
print("-" * 50)

Thông tin kiểu dữ liệu của dtb_toankhoa_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13970 entries, 0 to 13969
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mssv          13970 non-null  object
 1   dtb_toankhoa  13648 non-null  float64
 2   dtb_tichluy   13648 non-null  float64
 3   sotc_tichluy  13648 non-null  float64
dtypes: float64(3), object(1)
memory usage: 436.7+ KB
None
--------------------------------------------------

In [101]:
print("\nThông tin kiểu dữ liệu của dtb_hocky_df:")
print(dtb_hocky_df.info())
print("-" * 50)

Thông tin kiểu dữ liệu của dtb_hocky_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84952 entries, 0 to 84951
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mssv    84952 non-null  object
 1   hocky   84952 non-null  int64
 2   namhoc  84952 non-null  int64
 3   dtbhk   84952 non-null  float64
 4   sotchk  84952 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 3.2+ MB
None
--------------------------------------------------

### Thu giảm dữ liệu

In [102]:
# Loại bỏ khoảng trắng ở đầu và cuối tên cột trong tất cả các DataFrame
dfs = {
    'sinhvien': sinhvien_df,
    'thisinh': thisinh_df,
    'XLHV': XLHV_df,
    'totnghiep': totnghiep_df,
    'diemrl': diemrl_df,
    'dtb_hocky': dtb_hocky_df,
    'dtb_toankhoa': dtb_toankhoa_df
}

for name, df in dfs.items():
    df.columns = df.columns.str.strip()
    print(f"Cột sau khi xử lý khoảng trắng trong DataFrame '{name}':\n{df.columns}\n{'-'*50}")

Cột sau khi xử lý khoảng trắng trong DataFrame 'sinhvien':
Index(['id', 'mssv', 'namsinh', 'gioitinh', 'noisinh', 'lopsh', 'khoa', 'hedt',
       'khoahoc', 'chuyennganh2', 'tinhtrang', 'diachi_tinhtp', 'Column1',
       '_1', '_2', '_3', '_4', '_5', '_6', '_7', '_8', '_9', '_10', '_11',
       '_12', '_13', '_14', '_15', '_16', '_17', '_18', '_19', '_20', '_21',
       '_22', '_23', '_24', '_25', '_26', '_27', '_28', '_29', '_30', '_31',
       '_32', '_33', '_34', '_35', '_36', '_37', '_38', '_39', '_40', '_41',
       '_42', '_43', '_44', '_45', '_46', '_47', '_48', '_49', '_50', '_51',
       '_52', '_53', '_54', '_55', '_56'],
      dtype='object')
--------------------------------------------------
Cột sau khi xử lý khoảng trắng trong DataFrame 'thisinh':
Index(['mssv', 'dien_tt', 'diem_tt', 'lop12_matinh', 'lop12_matruong',
       'TEN_TRUONG'],
      dtype='object')
--------------------------------------------------
Cột sau khi xử lý khoảng trắng trong DataFrame 'XLHV':
Index(['id', 'mssv', 'tinhtrang', 'lydo', 'hocky', 'namhoc', 'soqd', 'ngayqd',
       'Column1'],
      dtype='object')
--------------------------------------------------
Cột sau khi xử lý khoảng trắng trong DataFrame 'totnghiep':
Index(['id', 'mssv', 'xeploai', 'soquyetdinh', 'ngaycapvb'], dtype='object')
--------------------------------------------------
Cột sau khi xử lý khoảng trắng trong DataFrame 'diemrl':
Index(['id', 'mssv', 'lopsh', 'hocky', 'namhoc', 'drl', 'ghichu'], dtype='object')
--------------------------------------------------
Cột sau khi xử lý khoảng trắng trong DataFrame 'dtb_hocky':
Index(['mssv', 'hocky', 'namhoc', 'dtbhk', 'sotchk'], dtype='object')
--------------------------------------------------
Cột sau khi xử lý khoảng trắng trong DataFrame 'dtb_toankhoa':
Index(['mssv', 'dtb_toankhoa', 'dtb_tichluy', 'sotc_tichluy'], dtype='object')
--------------------------------------------------

In [103]:
# Loại bỏ các cột không cần thiết
columns_to_drop = {
    'sinhvien': ['id', 'Column1'] + [f'_{i}' for i in range(1, 57)],  # Các cột `_1`, `_2`, ...
    'thisinh': ['lop12_matinh', 'lop12_matruong', 'TEN_TRUONG'],
    'XLHV': ['id', 'Column1'],
    'totnghiep': ['id'],
    'diemrl': ['id', 'ghichu'],
    'dtb_hocky': [],  # Không có cột thừa
    'dtb_toankhoa': []  # Không có cột thừa
}

for name, df in dfs.items():
    if name in columns_to_drop:
        df.drop(columns=columns_to_drop[name], errors='ignore', inplace=True)
    print(f"Các cột còn lại sau khi loại bỏ trong DataFrame '{name}':\n{df.columns}\n{'-'*50}")

Các cột còn lại sau khi loại bỏ trong DataFrame 'sinhvien':
Index(['mssv', 'namsinh', 'gioitinh', 'noisinh', 'lopsh', 'khoa', 'hedt',
       'khoahoc', 'chuyennganh2', 'tinhtrang', 'diachi_tinhtp'],
      dtype='object')
--------------------------------------------------
Các cột còn lại sau khi loại bỏ trong DataFrame 'thisinh':
Index(['mssv', 'dien_tt', 'diem_tt'], dtype='object')
--------------------------------------------------
Các cột còn lại sau khi loại bỏ trong DataFrame 'XLHV':
Index(['mssv', 'tinhtrang', 'lydo', 'hocky', 'namhoc', 'soqd', 'ngayqd'], dtype='object')
--------------------------------------------------
Các cột còn lại sau khi loại bỏ trong DataFrame 'totnghiep':
Index(['mssv', 'xeploai', 'soquyetdinh', 'ngaycapvb'], dtype='object')
--------------------------------------------------
Các cột còn lại sau khi loại bỏ trong DataFrame 'diemrl':
Index(['mssv', 'lopsh', 'hocky', 'namhoc', 'drl'], dtype='object')
--------------------------------------------------
Các cột còn lại sau khi loại bỏ trong DataFrame 'dtb_hocky':
Index(['mssv', 'hocky', 'namhoc', 'dtbhk', 'sotchk'], dtype='object')
--------------------------------------------------
Các cột còn lại sau khi loại bỏ trong DataFrame 'dtb_toankhoa':
Index(['mssv', 'dtb_toankhoa', 'dtb_tichluy', 'sotc_tichluy'], dtype='object')
--------------------------------------------------

In [104]:
columns_to_keep = {
    'sinhvien': ['mssv', 'namsinh', 'gioitinh', 'lopsh', 'khoa', 'hedt', 'khoahoc', 'chuyennganh2', 'tinhtrang', 'diachi_tinhtp'],
    'thisinh': ['mssv', 'dien_tt', 'diem_tt'],
    'XLHV': ['mssv', 'tinhtrang', 'lydo', 'hocky', 'namhoc'],
    'totnghiep': ['mssv', 'xeploai'],
    'diemrl': ['mssv', 'lopsh', 'hocky', 'namhoc', 'drl'],
    'dtb_hocky': ['mssv', 'hocky', 'namhoc', 'dtbhk', 'sotchk'],
    'dtb_toankhoa': ['mssv', 'dtb_toankhoa', 'dtb_tichluy', 'sotc_tichluy']
}

for name, df in dfs.items():
    cols_existing = [col for col in columns_to_keep[name] if col in df.columns]  # Chỉ lấy các cột có trong DataFrame
    df = df[cols_existing]
    print(f"Các cột sau khi lọc trong DataFrame '{name}':\n{df.columns}\n{'-'*50}")

Các cột sau khi lọc trong DataFrame 'sinhvien':
Index(['mssv', 'namsinh', 'gioitinh', 'lopsh', 'khoa', 'hedt', 'khoahoc',
       'chuyennganh2', 'tinhtrang', 'diachi_tinhtp'],
      dtype='object')
--------------------------------------------------
Các cột sau khi lọc trong DataFrame 'thisinh':
Index(['mssv', 'dien_tt', 'diem_tt'], dtype='object')
--------------------------------------------------
Các cột sau khi lọc trong DataFrame 'XLHV':
Index(['mssv', 'tinhtrang', 'lydo', 'hocky', 'namhoc'], dtype='object')
--------------------------------------------------
Các cột sau khi lọc trong DataFrame 'totnghiep':
Index(['mssv', 'xeploai'], dtype='object')
--------------------------------------------------
Các cột sau khi lọc trong DataFrame 'diemrl':
Index(['mssv', 'lopsh', 'hocky', 'namhoc', 'drl'], dtype='object')
--------------------------------------------------
Các cột sau khi lọc trong DataFrame 'dtb_hocky':
Index(['mssv', 'hocky', 'namhoc', 'dtbhk', 'sotchk'], dtype='object')
--------------------------------------------------
Các cột sau khi lọc trong DataFrame 'dtb_toankhoa':
Index(['mssv', 'dtb_toankhoa', 'dtb_tichluy', 'sotc_tichluy'], dtype='object')
--------------------------------------------------

### Hợp nhất dữ liệu

In [105]:
# Lọc các sinh viên đã tốt nghiệp từ final_df (dựa vào 'xeploai')
sinhvien_totnghiep_df = final_df[final_df['xeploai'].notna()]  # Chỉ giữ sinh viên có 'xeploai' không rỗng

# Kiểm tra số lượng sinh viên đã tốt nghiệp
print(f"Số lượng sinh viên đã tốt nghiệp: {sinhvien_totnghiep_df.shape[0]}")

                                       mssv  namsinh  gioitinh  \
0  BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2   1995.0       1.0
1  BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2   1995.0       1.0
2  BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2   1995.0       1.0
3  BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2   1995.0       1.0
4  BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2   1995.0       1.0

            noisinh    lopsh_x   khoa   hedt  khoahoc chuyennganh2  tinhtrang  \
0   TP. Hồ Chí Minh   KTPM0001   CNPM   CQUI      8.0      D480103        3.0
1   TP. Hồ Chí Minh   KTPM0001   CNPM   CQUI      8.0      D480103        3.0
2   TP. Hồ Chí Minh   KTPM0001   CNPM   CQUI      8.0      D480103        3.0
3   TP. Hồ Chí Minh   KTPM0001   CNPM   CQUI      8.0      D480103        3.0
4   TP. Hồ Chí Minh   KTPM0001   CNPM   CQUI      8.0      D480103        3.0

   ... hocky_x namhoc_x   drl hocky_y namhoc_y dtbhk sotchk  dtb_toankhoa  \
0  ...     2.0   2013.0  77.0     1.0   2013.0  6.02   22.0          7.15
1  ...     2.0   2013.0  77.0     2.0   2013.0  7.03   18.0          7.15
2  ...     2.0   2013.0  77.0     1.0   2014.0  6.40   26.0          7.15
3  ...     2.0   2013.0  77.0     2.0   2014.0  7.01   19.0          7.15
4  ...     2.0   2013.0  77.0     1.0   2015.0  6.35   20.0          7.15

   dtb_tichluy  sotc_tichluy
0         7.15         155.0
1         7.15         155.0
2         7.15         155.0
3         7.15         155.0
4         7.15         155.0

[5 rows x 27 columns]

In [106]:
# Lọc các sinh viên đã tốt nghiệp
sinhvien_totnghiep_df = final_df[final_df['xeploai'].notna()]

# Hiển thị kết quả
print(sinhvien_totnghiep_df.head())  # Kiểm tra 5 dòng đầu của DataFrame các sinh viên đã tốt nghiệp

                                       mssv  namsinh  gioitinh  \
0  BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2   1995.0       1.0
1  BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2   1995.0       1.0
2  BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2   1995.0       1.0
3  BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2   1995.0       1.0
4  BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2   1995.0       1.0

            noisinh    lopsh_x   khoa   hedt  khoahoc chuyennganh2  tinhtrang  \
0   TP. Hồ Chí Minh   KTPM0001   CNPM   CQUI      8.0      D480103        3.0
1   TP. Hồ Chí Minh   KTPM0001   CNPM   CQUI      8.0      D480103        3.0
2   TP. Hồ Chí Minh   KTPM0001   CNPM   CQUI      8.0      D480103        3.0
3   TP. Hồ Chí Minh   KTPM0001   CNPM   CQUI      8.0      D480103        3.0
4   TP. Hồ Chí Minh   KTPM0001   CNPM   CQUI      8.0      D480103        3.0

   ... hocky_x namhoc_x   drl hocky_y namhoc_y dtbhk sotchk  dtb_toankhoa  \
0  ...     2.0   2013.0  77.0     1.0   2013.0  6.02   22.0          7.15
1  ...     2.0   2013.0  77.0     2.0   2013.0  7.03   18.0          7.15
2  ...     2.0   2013.0  77.0     1.0   2014.0  6.40   26.0          7.15
3  ...     2.0   2013.0  77.0     2.0   2014.0  7.01   19.0          7.15
4  ...     2.0   2013.0  77.0     1.0   2015.0  6.35   20.0          7.15

   dtb_tichluy  sotc_tichluy
0         7.15         155.0
1         7.15         155.0
2         7.15         155.0
3         7.15         155.0
4         7.15         155.0

[5 rows x 27 columns]

### Xử lý giá trị thiếu

In [107]:
# Kiểm tra số lượng giá trị thiếu trong mỗi cột
missing_data = final_df.isnull().sum()
print("Số lượng giá trị thiếu trong mỗi cột:")
print(missing_data)

Số lượng giá trị thiếu trong mỗi cột:
mssv                 42
namsinh              43
gioitinh             42
noisinh              42
lopsh_x              42
khoa                 42
hedt                 42
khoahoc              42
chuyennganh2         42
tinhtrang            42
diachi_tinhtp        42
dien_tt             327
diem_tt            9611
xeploai          462891
soquyetdinh      462891
ngaycapvb        462891
lopsh_y            9198
hocky_x             111
namhoc_x            111
drl                 111
hocky_y             330
namhoc_y            330
dtbhk               330
sotchk              330
dtb_toankhoa        327
dtb_tichluy         327
sotc_tichluy        327
dtype: int64

In [108]:
# Thay thế giá trị thiếu trong các cột số bằng trung bình của cột đó
final_df = final_df.apply(lambda x: x.fillna(x.mean()) if x.dtype in ['float64', 'int64'] else x)

# Kiểm tra lại
missing_values_after = final_df.isna().sum()
print("Số lượng giá trị thiếu sau khi thay thế bằng trung bình:")
print(missing_values_after)

Số lượng giá trị thiếu sau khi thay thế bằng trung bình:
mssv                 42
namsinh               0
gioitinh              0
noisinh              42
lopsh_x              42
khoa                 42
hedt                 42
khoahoc               0
chuyennganh2         42
tinhtrang             0
diachi_tinhtp        42
dien_tt             327
diem_tt               0
xeploai          462891
soquyetdinh      462891
ngaycapvb        462891
lopsh_y            9198
hocky_x               0
namhoc_x              0
drl                   0
hocky_y               0
namhoc_y              0
dtbhk                 0
sotchk                0
dtb_toankhoa          0
dtb_tichluy           0
sotc_tichluy          0
dtype: int64

In [109]:
# Hàm để phát hiện và loại bỏ outliers sử dụng IQR
def remove_outliers_iqr(df):
    # Tính toán Q1 (25%) và Q3 (75%)
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1

    # Lọc dữ liệu không nằm ngoài phạm vi [Q1 - 1.5 * IQR, Q3 + 1.5 * IQR]
    df_no_outliers = df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis=1)]
    
    return df_no_outliers

In [110]:
# Áp dụng hàm xử lý ngoại lai cho DataFrame, chỉ áp dụng cho các cột số
final_df_no_outliers = remove_outliers_iqr(final_df.select_dtypes(include=[np.number]))

# In thông tin về các cột sau khi xử lý
print("Số lượng dòng sau khi loại bỏ outliers:", final_df_no_outliers.shape[0])

Số lượng dòng sau khi loại bỏ outliers: 383664

### Xử lý giá trị trùng

In [111]:
# Kiểm tra các bản ghi trùng trong DataFrame
duplicates = final_df[final_df.duplicated()]
print("Các bản ghi trùng trong DataFrame:")
print(duplicates)

Các bản ghi trùng trong DataFrame:
       mssv      namsinh  gioitinh noisinh lopsh_x khoa hedt    khoahoc  \
439566  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
451803  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
451804  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
462023  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
462024  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
471180  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
471181  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
481121  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
481122  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
490412  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
490413  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
500575  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
500576  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
509734  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
509735  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
519266  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
519267  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
529296  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
529297  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
538918  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
538919  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
548465  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
548466  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
555265  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
555266  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
561985  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
561986  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
568288  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
568289  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
575475  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
575476  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
582687  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
582688  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
589679  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
589680  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
596744  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
596745  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
603409  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
603410  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
610593  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023
610594  NaN  1997.798709  0.885099     NaN     NaN  NaN  NaN  10.935023

       chuyennganh2  tinhtrang  ...   hocky_x     namhoc_x        drl  \
439566          NaN   2.482063  ...  1.464849  2017.888747  76.774268
451803          NaN   2.482063  ...  1.464849  2017.888747  76.774268
451804          NaN   2.482063  ...  1.464849  2017.888747  76.774268
462023          NaN   2.482063  ...  1.464849  2017.888747  76.774268
462024          NaN   2.482063  ...  1.464849  2017.888747  76.774268
471180          NaN   2.482063  ...  1.464849  2017.888747  76.774268
471181          NaN   2.482063  ...  1.464849  2017.888747  76.774268
481121          NaN   2.482063  ...  1.464849  2017.888747  76.774268
481122          NaN   2.482063  ...  1.464849  2017.888747  76.774268
490412          NaN   2.482063  ...  1.464849  2017.888747  76.774268
490413          NaN   2.482063  ...  1.464849  2017.888747  76.774268
500575          NaN   2.482063  ...  1.464849  2017.888747  76.774268
500576          NaN   2.482063  ...  1.464849  2017.888747  76.774268
509734          NaN   2.482063  ...  1.464849  2017.888747  76.774268
509735          NaN   2.482063  ...  1.464849  2017.888747  76.774268
519266          NaN   2.482063  ...  1.464849  2017.888747  76.774268
519267          NaN   2.482063  ...  1.464849  2017.888747  76.774268
529296          NaN   2.482063  ...  1.464849  2017.888747  76.774268
529297          NaN   2.482063  ...  1.464849  2017.888747  76.774268
538918          NaN   2.482063  ...  1.464849  2017.888747  76.774268
538919          NaN   2.482063  ...  1.464849  2017.888747  76.774268
548465          NaN   2.482063  ...  1.464849  2017.888747  76.774268
548466          NaN   2.482063  ...  1.464849  2017.888747  76.774268
555265          NaN   2.482063  ...  1.464849  2017.888747  76.774268
555266          NaN   2.482063  ...  1.464849  2017.888747  76.774268
561985          NaN   2.482063  ...  1.464849  2017.888747  76.774268
561986          NaN   2.482063  ...  1.464849  2017.888747  76.774268
568288          NaN   2.482063  ...  1.464849  2017.888747  76.774268
568289          NaN   2.482063  ...  1.464849  2017.888747  76.774268
575475          NaN   2.482063  ...  1.464849  2017.888747  76.774268
575476          NaN   2.482063  ...  1.464849  2017.888747  76.774268
582687          NaN   2.482063  ...  1.464849  2017.888747  76.774268
582688          NaN   2.482063  ...  1.464849  2017.888747  76.774268
589679          NaN   2.482063  ...  1.464849  2017.888747  76.774268
589680          NaN   2.482063  ...  1.464849  2017.888747  76.774268
596744          NaN   2.482063  ...  1.464849  2017.888747  76.774268
596745          NaN   2.482063  ...  1.464849  2017.888747  76.774268
603409          NaN   2.482063  ...  1.464849  2017.888747  76.774268
603410          NaN   2.482063  ...  1.464849  2017.888747  76.774268
610593          NaN   2.482063  ...  1.464849  2017.888747  76.774268
610594          NaN   2.482063  ...  1.464849  2017.888747  76.774268

         hocky_y     namhoc_y     dtbhk     sotchk  dtb_toankhoa  dtb_tichluy  \
439566  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
451803  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
451804  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
462023  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
462024  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
471180  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
471181  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
481121  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
481122  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
490412  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
490413  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
500575  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
500576  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
509734  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
509735  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
519266  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
519267  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
529296  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
529297  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
538918  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
538919  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
548465  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
548466  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
555265  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
555266  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
561985  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
561986  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
568288  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
568289  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
575475  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
575476  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
582687  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
582688  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
589679  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
589680  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
596744  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
596745  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
603409  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
603410  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
610593  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968
610594  1.566073  2017.672432  6.615393  16.404301      7.020068     7.317968

        sotc_tichluy
439566    134.394884
451803    134.394884
451804    134.394884
462023    134.394884
462024    134.394884
471180    134.394884
471181    134.394884
481121    134.394884
481122    134.394884
490412    134.394884
490413    134.394884
500575    134.394884
500576    134.394884
509734    134.394884
509735    134.394884
519266    134.394884
519267    134.394884
529296    134.394884
529297    134.394884
538918    134.394884
538919    134.394884
548465    134.394884
548466    134.394884
555265    134.394884
555266    134.394884
561985    134.394884
561986    134.394884
568288    134.394884
568289    134.394884
575475    134.394884
575476    134.394884
582687    134.394884
582688    134.394884
589679    134.394884
589680    134.394884
596744    134.394884
596745    134.394884
603409    134.394884
603410    134.394884
610593    134.394884
610594    134.394884

[41 rows x 27 columns]

In [112]:
# Loại bỏ các bản ghi trùng
final_df_no_duplicates = final_df.drop_duplicates()

# In thông tin về số dòng sau khi loại bỏ trùng lặp
print("Số dòng sau khi loại bỏ các bản ghi trùng:", final_df_no_duplicates.shape[0])

Số dòng sau khi loại bỏ các bản ghi trùng: 627749

### Xuất file excel

In [113]:
# Xuất DataFrame 'final_df' ra file Excel
final_df.to_excel('merged_data.xlsx', index=False)
print("Dữ liệu đã được xuất ra file 'merged_data.xlsx'.")

Dữ liệu đã được xuất ra file 'merged_data.xlsx'.